@{
   
}
<h2>@ViewBag.Titre.</h2>


<p>
    Notre club existe depuis 2011 et nous sommes des passionnés en jeu de rôle. Nous avons comme but de réduire l’utilisation inutile de papier avec notre 
    application et de rendre les jeux de rôle plus accessible aux nouveaux joueurs.
</p>
