@{

}
<h2>@ViewBag.Titre.</h2>


<address>
    2911 rue Verdun<br />
    Montréal, QC Y7D 9M8<br />
    <abbr title="téléphone">P:</abbr>
    514 555 6767
</address>

<address>
    <strong>Assistance:</strong>   <a href="icosaedre@roleplay.com">icosaedre@roleplay.com</a><br />
</address>