@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Bienvenue sur L'icosaèdre!</h2>
        <p>           
            Notre club de jeu de rôle rendra votre partie plus intéressante avec des outils extraordinaires! 
            En créant un compte sur notre application, vous aurez accès à de nombreuses œuvres qui faciliteront l’optimisation de votre jeu.
            En créant votre compte en tant que joueur ou maitre de jeu, nous vous garantissons un temps de jeu plus agréable et rapide.
            Nous apporterons plusieurs ajouts à notre base de données pour vous donner accès à un grand nombre de sorts, de scénarios et de récompenses.
        </p>
    </div>
</div>