@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Bienvenue sur L'icosaèdre!</h2>
        <div class="row">     
            <div id="informations" class="carousel slide" data-ride="carousel">         
            <!-- Indicateurs -->         
            <ol class="carousel-indicators">             
                <li data-target="#informations" data-slide-to="0" class="active"></li>            
                 <li data-target="#informations" data-slide-to="1"></li>            
                 <li data-target="#informations" data-slide-to="2"></li>             
                <li data-target="#informations" data-slide-to="3"></li>         
             </ol>           
            <!-- contenant pour les diapositives -->        
             <div class="carousel-inner" role="listbox">            
                 <div class="item active">                 
                    <h1 class="text-center">Équipe Dynamique!</h1>             
                 </div>             
                <div class="item">                 
                    <h1 class="text-center">Scénario Personnalisé!</h1>             
                 </div>             
                <div class="item">                 
                    <h1 class="text-center">Fiche Interactive!</h1>           
                </div>             
                <div class="item">                 
                    <h1 class="text-center">Activités spéciales!</h1>             
                 </div>         
             </div>          
             <!-- Les contrôle droite/gauche -->         
            <a class="left carousel-control" href="#informations" role="button" data-slide="prev">             
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>             
                <span class="sr-only">Previous</span>         
            </a>         
            <a class="right carousel-control" href="#informations" role="button" data-slide="next">             
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>             
                <span class="sr-only">Next</span>         
            </a>     
            </div> 
        </div> 
        <p>           
            Notre club de jeu de rôle rendra votre partie plus intéressante avec des outils extraordinaires! 
            En créant un compte sur notre application, vous aurez accès à de nombreuses œuvres qui faciliteront l’optimisation de votre jeu.
            En créant votre compte en tant que joueur ou maitre de jeu, nous vous garantissons un temps de jeu plus agréable et rapide.
            Nous apporterons plusieurs ajouts à notre base de données pour vous donner accès à un grand nombre de sorts, de scénarios et de récompenses.
        </p>
    </div>
</div>